@import "../../styles/fixed-styles";
@import "../YieldAccounts/YieldAccounts.module.scss";
.section__wrapper{
    padding: 14px;
    @media (min-width:768px) {
        padding: 20px;
    }
    .section__header{
        .section__headerDetails{
            &.isExpanded{
                .details__totalAmount{
                    display: flex;
                    height: 48px;
                    align-items: center;
                    h5{
                        padding-inline-start: 10px;
                    }
                    h4{
                        padding-inline-end: 7px;
                    }
                }
            }
        }
    }
    .section__bodyWrapper{
        margin-top: 20px;
        border-radius: 8px;
        overflow: hidden;
        display: none;
        &.isExpanded{
            display: block;
        }
        .section__body{
            margin-bottom: 0;
            thead{
                tr{
                    display: grid;
                    grid-template-columns: 2fr 1fr 1fr 2fr .5fr minmax(auto,218px);
                    th{
                        border-top: 1px solid rgba(255,255,255,.12);
                        border-bottom: none !important;
                        font-size: 12px;
                        color: #83838d;
                        text-align: right;
                        &:first-of-type{
                            text-align: left;
                            padding-inline: 10px 6px;
                        }
                        &:last-of-type{
                            padding-inline: 6px 10px;
                        }
                        @media (max-width:767.98px) {
                            &:first-of-type(){
                                grid-column: 1 / span 5;
                            }
                            &:not(:nth-of-type(1)):not(:nth-of-type(2)){
                                display: none;
                            }
                        }
                    }
                }
            }
            tbody{
                border: none !important;
                tr{
                    cursor: pointer;
                    display: grid;
                    grid-template-columns: 2fr 1fr 1fr 2fr .5fr minmax(auto,218px);
                    td{
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        border-top: 1px solid rgba(255,255,255,.12);
                        border-bottom: none !important;
                        font-size: 14px;
                        &:first-of-type{
                            padding-inline: 10px 6px;
                            justify-content: flex-start;
                        }
                        &:last-of-type{
                            padding-inline: 6px 10px;
                        }
                        .deposit__button{
                            @extend %mainButton;
                            margin-inline-end: 20px;
                            padding-block: 5px
                        }
                        .trade__button{
                            @extend %subButton;
                            padding-block: 5px
                        }
                        div{
                            align-items: flex-end;
                            span{
                                &:first-of-type{
                                    color: white;
                                }
                                &:nth-of-type(2){
                                    color: #bbc4c9;
                                    font-size: 12px;
                                }
                            }
                        }
                        @media (max-width:767.98px) {
                            &:first-of-type(){
                                grid-column: 1 / span 5;
                            }
                            &:not(:nth-of-type(1)):not(:nth-of-type(2)){
                                display: none;
                            }

                        }
                    }
                    @media (max-width:767.98px) {
                        margin-bottom: 48px;
                        border-bottom: 1px solid #454554;
                    }
                }
            }
        }
        .body{
            display: grid;
            grid-template-columns: minmax(auto,1fr) auto minmax(auto,1fr);
            grid-template-rows: 100px;
            column-gap: 10px;
            background: linear-gradient(90deg,#1d1329 0%,#1e1429 20%,#0c0b29 100%);
            align-items: center;
            .body__image{
                height: 100%;
                position: relative;
                img{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
            .title__Wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                color: white;
                z-index: 2;
                .title{
                    font-size: 24px;
                    font-weight: 500;
                }
                .sub__title{
                    font-size: 14px;
                    font-weight: 300;
                    text-align: center;
                }
            }
            .body__linkWrapper{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-inline-end: 50px;
                .body__link{
                    @extend %mainButton;
                    padding-block: 8px;
                    text-decoration: none;
                    span{
                        font-weight: 500;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}