.page__sectionsHeader{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 6px;
    @media (min-width:992px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
        column-gap: 15px;
        row-gap: 0;
        
    }
}
.page__sectionsBody{
    display: grid;
    row-gap: 15px;

}